---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2016-05-19
    body:
      encoding: UTF-8
      string: '{"text":"some random text"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic N2MxYzEwMjMtMDg1ZS00NTllLTg3MjItOWQ3NmI4OTI1NjM1OkJwWkdoblV3QTBnRQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.2; 2016-05-19
      Content-Type:
      - application/json
      X-Client-Ip:
      - 106.51.21.239
      X-Global-Transaction-Id:
      - '402349556'
      X-Dp-Watson-Tran-Id:
      - gateway-dp01-402349556
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tone_categories":[{"tones":[{"score":0.076561,"tone_id":"anger","tone_name":"Anger"},{"score":0.016455,"tone_id":"disgust","tone_name":"Disgust"},{"score":0.212155,"tone_id":"fear","tone_name":"Fear"},{"score":0.090764,"tone_id":"joy","tone_name":"Joy"},{"score":0.554617,"tone_id":"sadness","tone_name":"Sadness"}],"category_id":"emotion_tone","category_name":"Emotion
        Tone"},{"tones":[{"score":0.0,"tone_id":"analytical","tone_name":"Analytical"},{"score":0.0,"tone_id":"confident","tone_name":"Confident"},{"score":0.999739,"tone_id":"tentative","tone_name":"Tentative"}],"category_id":"language_tone","category_name":"Language
        Tone"},{"tones":[{"score":0.363523,"tone_id":"openness_big5","tone_name":"Openness"},{"score":0.275465,"tone_id":"conscientiousness_big5","tone_name":"Conscientiousness"},{"score":0.549954,"tone_id":"extraversion_big5","tone_name":"Extraversion"},{"score":0.600415,"tone_id":"agreeableness_big5","tone_name":"Agreeableness"},{"score":0.277033,"tone_id":"emotional_range_big5","tone_name":"Emotional
        Range"}],"category_id":"social_tone","category_name":"Social Tone"}]}}'
  recorded_at: Thu, 04 May 2017 18:13:09 GMT
recorded_with: VCR 3.0.3
